body {
  font-family: sans-serif;
  background: #f4f4f4;
  padding: 20px;
}
.station {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background: white;
  transition: background 0.3s;
}
.station:hover {
  background: #f0f0f0;
}
.station.playing {
  background-color: limegreen;
  border-left: 10px solid darkgreen;
}
.page-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.logo {
  width: 100px;
  height: auto;
}