body {
  font-family: sans-serif;
  background: #f4f4f4;
  padding: 20px;
}
.station {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background: white;
  transition: background 0.3s;
}
.station:hover {
  background: #f0f0f0;
}
.station.playing {
  background-color: #ccffcc;
  border-left: 15px solid darkgreen;
}
.logo {
  width: 100px;
  height: auto;
}
.now-playing {
  font-style: italic;
  color: #333;
  margin-top: 5px;
}
.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  display: inline-block;
  font-size: 2em;
}

.page-icon {
  width: 60px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}